<mat-card class="card mat-elevation-z16 animate__animated animate__slideInRight">
    <mat-card-header>
        <mat-card-title>Publicación</mat-card-title>
        <mat-card-subtitle>Detalles de la Publicación
        </mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="id; else loading" >

       <mvd-form-publication [idPublication] = "id"></mvd-form-publication>


    </ng-container>

    <ng-template #loading>
        <div class="div-content">
            <div class="loading">
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>
    </ng-template>


    <span class="border"></span>
</mat-card>