<mat-card class="card mat-elevation-z16 animate__animated animate__slideInRight">
    <mat-card-header>
        <mat-card-title>Propiedad</mat-card-title>
        <mat-card-subtitle>Detalles de la Propiedad <strong>{{ productEdit?.title }}</strong>
        </mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="edit === false || productEdit; else loading">

        <mat-tab-group mat-stretch-tabs class="" [selectedIndex]="indexTab">
            <mat-tab label="Datos Básicos">

                <mvd-form-product (dataSubmit)="dataSubmit($event)"></mvd-form-product>

            </mat-tab>
            <mat-tab label="Características">

                <mvd-features *ngIf="productEdit" (dataFeatures)="updateProduct($event)"></mvd-features>
                <span *ngIf="!productEdit" class="no-productEdit">Primero ingresa los Datos Básicos</span>

            </mat-tab>
            <mat-tab label="Imágenes">

                <mvd-images-product *ngIf="productEdit"></mvd-images-product>
                <span *ngIf="!productEdit" class="no-productEdit">Primero ingresa los Datos Básicos</span>

            </mat-tab>
            <mat-tab label="Publicación">
                <mvd-form-publication *ngIf="productEdit" [idProperty]="productEdit?.id" [titlePropety]="productEdit?.title" [idPublication]="productEdit?.publication?.id"></mvd-form-publication>
                <span *ngIf="!productEdit" class="no-productEdit">Primero ingresa los Datos Básicos</span>

            </mat-tab>
        </mat-tab-group>
    </ng-container>

    <ng-template #loading>
        <div class="div-content">
            <div class="loading"><div></div><div></div><div></div></div>
    
        </div>
    </ng-template>


    <span class="border"></span>
</mat-card>