<mat-card class="card mat-elevation-z16 animate__animated animate__slideInRight">
    <mat-card-header>
        <mat-card-title>Propiedad</mat-card-title>
        <mat-card-subtitle>Detalles de la Propiedad <strong>{{ (productEdit|async)?.title }}</strong>
        </mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="(productEdit | async) || edit === false; else loading">

        <mat-tab-group mat-stretch-tabs class="" [selectedIndex]="indexTab">
            <mat-tab label="Datos Básicos">

                <mvd-form-product (dataSubmit)="dataSubmit($event)"></mvd-form-product>

            </mat-tab>
            <mat-tab label="Características">

                <mvd-features *ngIf="productEdit | async" (dataFeatures)="updateProduct($event)"></mvd-features>
                <span *ngIf="!(productEdit | async)" class="no-productEdit">Primero ingresa los Datos Básicos</span>

            </mat-tab>
            <mat-tab label="Imágenes">

                <mvd-images-product *ngIf="productEdit | async"></mvd-images-product>
                <span *ngIf="!(productEdit | async)" class="no-productEdit">Primero ingresa los Datos Básicos</span>

            </mat-tab>
        </mat-tab-group>
    </ng-container>

    <ng-template #loading>
        <div class="div-content">
            <div class="loading"><div></div><div></div><div></div></div>
    
        </div>
    </ng-template>


    <span class="border"></span>
</mat-card>