.mat-toolbar{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 64px;
    align-content: center;
}
span{
    display: flex;
    align-items: center;
}
.picaworks{
    font-weight: 900;
}
.subtitle-admin{
    padding-left: 5px;
    font-weight: 400;
}