<mat-nav-list class="items-menu-principal">
    <a mat-list-item [routerLink]="['/productos']" routerLinkActive="router-link-active" >Propiedades</a>
    <a mat-list-item [routerLink]="['/publicaciones']" routerLinkActive="router-link-active" >Publicaciones</a>
    
    

    <mat-accordion>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Usuarios
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="['/clientes']" routerLinkActive="router-link-active" >Clientes</a>
            <a mat-list-item [routerLink]="['/usuarios']" routerLinkActive="router-link-active" >Usuarios del sistema</a>

        </mat-expansion-panel>
    </mat-accordion> 
    <mat-accordion>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Configuraciones
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="['/caracteristicas']" routerLinkActive="router-link-active" >Caracteristicas</a>
            <a mat-list-item [routerLink]="['/categorias']" routerLinkActive="router-link-active" >Tipos de propiedad</a>
            <a mat-list-item [routerLink]="['/tipos-de-operaciones']" routerLinkActive="router-link-active" >Tipos de operaciones</a>
            <a mat-list-item [routerLink]="['/tipos-de-gastos']" routerLinkActive="router-link-active" >Tipos de gastos</a>


        </mat-expansion-panel>
    </mat-accordion>    
    <mat-accordion>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ubicaciones
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="['/provincias']" routerLinkActive="router-link-active">Provincias</a>
            <a mat-list-item [routerLink]="['/ciudades']" routerLinkActive="router-link-active">Ciudades</a>
            <a mat-list-item [routerLink]="['/municipalidades']" routerLinkActive="router-link-active">Municipalidades</a>
            <a mat-list-item [routerLink]="['/barrios']" routerLinkActive="router-link-active">Barrios</a>
        </mat-expansion-panel>
    </mat-accordion>

</mat-nav-list>

