

.publish{
    color: var(--color-success);
}
.mat-button{
    min-width: 0px!important;
    line-height: 16px!important;
}
.tips{
    background-color: rgb(241, 241, 241)!important;
    color: black!important;
}
