.button-content{
    display: grid;
    grid-column: 1/-1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    button{
        margin-left: auto;
        margin-right: auto;
        padding: 10px 50px;
    }
}