.card{
    box-shadow: none!important;
    margin: 0!important;

}

.btn-actions{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));

        button{
            margin-left: auto;
            margin-right: auto;
            padding: 0px 50px;
        }
    

}