<div class="container" *ngIf="data">
    <div class="upload">
        <label for="file">
            <div class="image-input">
                    <img [src]="'../../../../../../assets/images/no-image.svg'" alt="Subir Imagen">
            </div>
        </label>
        <input id="file" hidden type="file" (change)="uploadImage($event)" accept="image/*" multiple >
        
    </div>
    <div class="instructions">

    </div>
</div>

<mat-progress-bar
mode="determinate"
[value]="progresUpload$ | async" *ngIf="(progresUpload$ | async)!== 100">
</mat-progress-bar>


<div cdkDropList cdkDropListOrientation="horizontal" class="list" (cdkDropListDropped)="drop($event)" *ngIf="images">
    
    <ng-container *ngIf=" (loadingImage$|async) == false ; else loading">
        <div class="box" *ngFor="let image of images" cdkDrag (mouseover)= "showDelete = true" (mouseleave)="showDelete = false" >
            <mvd-thumbnail [image]="image" [showDelete]="showDelete" (removeImage)="removeImage($event)" (updateRotateImage)="updateRotateImage($event)" ></mvd-thumbnail>
        </div>
    </ng-container>
    
    <ng-template #loading>
        <div class="div-content">
            <div class="loading"><div></div><div></div><div></div></div>
            <span *ngIf="(progresUpload$ | async)!==100">Subiendo imagenes...</span>
            <span *ngIf="(progresUpload$ | async)===100">Escalando imagenes...</span>

        </div>
    </ng-template>
</div>



