<mat-card class="card mat-elevation-z16" >
    <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque asperiores voluptatem velit cum, rerum minus illo eveniet, voluptas vero quis quaerat sunt cumque eius magnam nobis distinctio quam laborum accusamus?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad odit, libero consequatur, asperiores eligendi quas delectus consectetur est itaque assumenda eaque temporibus alias accusamus voluptate quod laudantium. Error, accusantium facilis?</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">Ok</button>
    </mat-card-actions>
    <span class="border"></span>
</mat-card>